<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee_account</title>
</head>
<body>
<h3>employee_accounts</h3>
<p>Check your salary account details</p>
<p>Submit Employee name</p>
<form method="post">
    {% csrf_token %}
    <input type="text">
    <button type="submit">SUbMit!</button>
</form>

</body>
</html>