<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test_forms</title>
</head>
<body>
    <form action="" method="post" name="greet_form">
        {% csrf_token %}
        <h1>Put the asked details here</h1>
        <input type="text" placeholder="Put your name here">
        <button type="submit">SUMIT!</button>
    </form>
</body>
</html>