{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="">Author Listing</a></p>
<table class="table">
    <tr>
    <td>ID</td><td>Link</td>
        <td>name</td>
        <td>phone</td>
        <td>email</td>
        <td>address</td>
        <td>desc</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.name }}</td>
        <td>{{ object.phone }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.address }}</td>
        <td>{{ object.desc }}</td>
    </tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'forms_test:forms_test_author_create' %}">Create new Author</a>

{% endblock %}
