{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'forms_test:forms_test_author_list' %}">Author Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>phone</td><td>{{ object.phone }}</td></tr>
<tr><td>email</td><td>{{ object.email }}</td></tr>
<tr><td>address</td><td>{{ object.address }}</td></tr>
<tr><td>desc</td><td>{{ object.desc }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Author</a>

{% endblock %}