<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bound_form</title>
</head>
<body>

<form action="" method="post">{% csrf_token %}
    {{ form }}
<button type="submit">Submit this Form!</button>
</form>
    {{ text }}
    {% for post in posts %}
        <h3>{{ post.post }}</h3>  <--posted on:{{ post.created_date }} By {{ post.author }}<br>
    {% endfor %}

</body>
</html>