<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home_Form</title>
</head>
<body>
<h2>This is the first basic form</h2>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<ol>
    <li>
        <p>We need to play with it's data on page</p>
    </li>
    <li>
        <p>and if possible we will try to add it to the database</p>
    </li>
</ol>
<form action="" method="post" >{% csrf_token %}
    <input type="text" placeholder="type your name..." name="form_data">
    <button type="submit">Submit this form</button>
    <h3>Hello {{ name }} welcome to Equevix form learning</h3>
    <h2>SO WE ARE SUCCESSFULLY ABLE TO SAVE THE DATA IN DB</h2>
</form>
whole_form_data_objs: {{ objs }}
</body>
</html>