<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostunboundForm</title>
</head>
<body>
<h2>PostunboundForm</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
    {{ text }}
    {% for post in posts %}
        <h3>{{ post.post }}</h3>  <--posted on:{{ post.created_date }} By {{ post.author }}<br>
    {% endfor %}

</body>
</html>